<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ExplorerWindowCleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <ExplorerWindowCleaner.Properties.Settings>
      <setting name="Interval" serializeAs="String">
        <value>00:00:10</value>
      </setting>
      <setting name="IsAutoCloseUnused" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExpireInterval" serializeAs="String">
        <value>08:00:00</value>
      </setting>
      <setting name="IsNotifyCloseWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AccentColor" serializeAs="String">
        <value>Cobalt</value>
      </setting>
    </ExplorerWindowCleaner.Properties.Settings>
  </applicationSettings>
</configuration>